@use "../mixins" as m;

.arrows {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.arrows button {
  position: absolute;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;

  outline: none;
  display: flex;
  align-items: center;

  svg {
    width: 10px;
    height: 10px;
    fill: #0A3B93;
    stroke-width: 3px;
  }


  @include m.hover-focus {
    border-radius: 50%;
  }

  @include m.active {
    svg {
      opacity: 0.7;
    }
  }

  @include m.disabled {
    background-color: transparent;
    pointer-events: none;
    cursor: default;

    svg {
      fill: #888888;
    }
  }
}

.arrows__prev {
  left: 0;
  top: 133px;

  @include m.breakpoint-XS {
    left: -16px;
  }
}

.arrows__next {
  right: 0;
  top: 131px;
  transform: rotate(180deg);

  @include m.breakpoint-XS {
    right: -16px;
  }
}
